.box15 {
  padding: 20px;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.splide__slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 700px) {
  .splide__slide img {
    height: 300px;
  }
}